.requirement {
  height: 35px;
  display: flex;
  align-items: center;
}
.requirement p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  font-family: sans-serif;
}
.invalid {
  color: red;
}
.valid {
  color: #7ac142;
}
